/************* RESETS & PRESETS *************/

/* font-family: 'Roboto', sans-serif; */    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

img {
    max-width: 100%;
    display: block;
}

.grid-container {
    display: grid;
}

.background {
    background: url(BackgroundWith.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/************* ROOT SELECTORS *************/

:root {

    /* COLORS */
    --color-white:      #F1F1F1;
    --color-grey:       #B0B0B0;
    --color-dark-grey:  #444444;
    --color-purple:     #7000FF;
    --color-yellow:     #FFE900;
    --color-pink:       #FF00F4;
    --title-background:   #3b3b3b59;
    --hover-focus-active: #3d3d3d4d;
    --transparent-grey:   #41414180;
    --transparent-black:  #000000e6;

    /* FONTS */
    --ff-english: 'Roboto', sans-serif;

    /* OTHERS */
    --border-radius: 1.5rem;
    --auto-grid-min-size: .1fr;
}

/************* SCROLL BAR *************/

/* The -webkit-scrollbar is not supported in Firefox or in Edge, prior version 79. */

/* width */
::-webkit-scrollbar {
    width: .6rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-right: 2px solid var(--color-pink) ;
	background-color: rgba(0, 0, 0, 0.94);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .15);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

/************* HEADER *************/

.header {
    position: fixed;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr;
    background: var(--transparent-black);
    color: var(--color-white);
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

.title-wrap {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.main-title {
    font-family: var(--ff-english);
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--ff-english);
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/************* NAVIGATION *************/

.navigation {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-link-wrap {
    width: 100%;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0; 
    font-family: var(--ff-english);
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.about-link {
    color: var(--color-pink);
}       

/************* MAIN CONTAINER *************/

.main-container {
    margin-top: 5em;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(1, .5fr) ;
    color: var(--color-white);
    gap: 1em;
    padding: 1em;
    font-family: var(--ff-english);
}

.section {
    background: var(--transparent-black);
}

.empty-block {
    display: none;
    padding: 1em;
}

.language-section {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.tools-section {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.profile-section {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.framework-section {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.preprocessor-section {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

.education-section {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

.button-section {
    grid-row:  8 / 9;
    grid-column: 1 / 2;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: var(--title-background);
    padding: 1.2rem;
    font-family: var(--ff-english);
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list-contain {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    font-size: .9rem;
    letter-spacing: .5px;    
}

.list-contain li {
    text-align: center;
}

.profile-contain {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    font-size: .9rem;
    letter-spacing: 1px;
}

.profile-contain li {
    text-align: center;
    padding: .3em;
}

.education-contain {
    margin-top: 1.5em;
    text-align: center;
}

.edu-1,
.edu-2 {
    margin:  .75em 0;
    padding: 0 2em;
}

.bold-text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

/********* BUTTON *********/

.button-section {
    display: flex;  
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.button {
    width: 100%;
    height: 3em;
    background: var(--transparent-black);
    border: none;
    border-radius: none;
}

.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

.resume-jp {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-weight: 200;
    line-height: 2em;
    font-size: 1.2rem;
}

/********* EMPTY BLOCK - HEART *********/

.heart {
    color: red;
    font-size: 2.8rem;
    padding: 0 .2em;
}

/********* HOVER | ACTIVE | FOCUS *********/

.subtitle:focus, 
.subtitle:active,
.subtitle:hover {
    color: var(--color-pink);
}

.button:focus, 
.button:active,
.button:hover {
    border: 1px solid var(--color-pink);
}

.nav-link:focus, 
.nav-link:active,
.nav-link:hover {
    background: var(--hover-focus-active);
    color: var(--color-pink);
    border: var(--color-pink) 1px solid;                        
}   

.btn-link:focus, 
.btn-link:active,
.btn-link:hover {
    background: var(--hover-focus-active);
    border-radius: none;
    color: var(--color-pink);
}

/* FOR MOBILE ／ SMALL SCREENS ≤ 539px  */

@media screen and (max-width: 239px) {
    .header {
        display: none;
    }

    .main-container {
     display: none;
    }
}

@media screen and (max-width: 279px) {
    
    .main-title {
        font-size: 1.2rem;
    }
    
    .subtitle {
        font-size: 1.2rem;
    }
    
    .nav-link {
        font-size: .7rem;
    }

    .main-container {
        margin-top: 2.7em;
        padding: .25em;
        justify-items: center;
    }
}

@media screen and (min-width: 280px) and  (max-width: 322px) {
    
    .main-title {
        font-size: 1.2rem;
    }
    
    .subtitle {
        font-size: 1.6rem;
    }
    
    .nav-link {
        font-size: .8rem;
    }

    .main-container {
        margin-top: 4em;
        padding: .25em;
    }
}

@media screen and (max-width: 539px) {
    
    .btn-project {
        margin: 1em 0;
    }
}

/* FOR TABLET DEVICES ／ MEDIUM SCREENS 540px -> 1024px  */

@media screen and (min-width: 540px) and (max-width: 1024px) {
   
    /************* SCROLL BAR *************/

    /* width */
    ::-webkit-scrollbar {
        width: .6rem;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        border-right: 2px solid var(--color-yellow) ;
        background-color: rgba(0, 0, 0, 0.94);
    } 
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .15);
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    /************* HEADER - NAVIGATION *************/

    .nav-link {
        font-size: 1rem;
    }
    
    .about-link {
        color: var(--color-yellow);
    }

    /************* MAIN CONTAINER *************/

    .main-container {
        width: 100vw;
        margin-top: 5.5em ;
    }

    .language-section {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .tools-section {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    .profile-section {
        grid-row: 4 / 5;
        grid-column: 1 / 4;
    }

    .framework-section {
        grid-row: 4 / 5;
        grid-column: 4 / 5;
    }

    .preprocessor-section {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .education-section {
        grid-row: 5 / 6 ;
        grid-column: 1 / 5;
    }

    /************* BUTTON *************/

    .button-section {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .btn-project {
        margin: 1em 0;
    }
    /********* HOVER | ACTIVE | FOCUS *********/

    .subtitle:focus, 
    .subtitle:active,
    .subtitle:hover {
        color: var(--color-yellow);
    }
    .nav-link:focus, 
    .nav-link:active,
    .nav-link:hover {
        background: var(--hover-focus-active);
        border: 1px solid var(--color-yellow); 
        color: var(--color-yellow);
    }
    
    .button:focus, 
    .button:active,
    .button:hover {
        border: 1px solid var(--color-yellow);
    }

    .btn-link:focus, 
    .btn-link:active,
    .btn-link:hover {
        background: var(--hover-focus-active);
        color: var(--color-yellow);
    }

}

/* For COMPUTERS & TVS ／ LARGE & X-LARGE SCREENS ≥ 1025px  */

/*************** BELOW - GENERAL SETTINGS ***************/

@media screen and (min-width: 1025px) {
    
    /************* SCROLL BAR *************/

    /* width */
    ::-webkit-scrollbar {
        width: .6rem;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-right: 2px solid var(--color-purple) ;
        background-color: rgba(0, 0, 0, 0.94);
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, .15);
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    
    /*************** HEADER ***************/

    .background {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .main-container {
        width: 100vw;
        height: 80vh;
    }

    .header {
        position: absolute;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-rows: 1fr;
    }

    .title-wrap {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-content: flex-start;
    }

    .navigation {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .main-title {
        font-size: 2.5rem;
        padding-right: .5em
    }

    .subtitle {
        font-size: 2.5rem;
    }

    .nav-link {
        font-size: 1rem;
        height: 100%;
    }

    .about-link {
        color: var(--color-purple);
    }

    /*************** MAIN CONTENTS ***************/

    .button-section {
        align-items: center;
        justify-content: space-between; 
    }
    
    /*************** HOVER | ACTIVE | FOCUS ***************/

    .subtitle:focus, 
    .subtitle:active,
    .subtitle:hover {
        color: var(--color-purple);
    }
    .nav-link:focus, 
    .nav-link:active,
    .nav-link:hover {
        background: var(--hover-focus-active);
        border: 1px solid var(--color-purple); 
        color: var(--color-purple);
    }
    
    .button:focus, 
    .button:active,
    .button:hover {
        border: 1px solid var(--color-purple);
    }

    .btn-link:focus, 
    .btn-link:active,
    .btn-link:hover {
        background: var(--hover-focus-active);
        color: var(--color-purple);
    }
}
/*************** ABOVE - GENERAL SETTINGS ***************/


@media screen and (min-width: 1025px) and (max-width: 1099px) {
    
    .button-section {
        grid-row: 4 / 5;
        grid-column: 1 / 5; 
        flex-direction: row;
    }

    .btn-project {
        margin: 0 1em;
    }
    
    .language-section {
        grid-row: 2 / 3;
        grid-column: 1 / 4; 
    }

    .tools-section {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    .profile-section {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    .framework-section {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .preprocessor-section {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    .education-section {
        grid-row: 1 / 2 ;
        grid-column: 4 / 5;
    }

}

@media screen and (min-width: 1100px) and (max-width: 1149px) {

    .button-section {
        grid-row: 4 / 5;
        grid-column: 1 / 5;
        flex-direction: row;
    } 

    .btn-project {
        margin: 0 1em;
    }

    .language-section {
        grid-row: 2 / 3;
        grid-column: 1 / 4; 
    }

    .tools-section {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    .profile-section {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    .framework-section {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    .preprocessor-section {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    .education-section {
        grid-row: 1 / 2 ;
        grid-column: 4 / 5;
    }

}

@media screen  and (min-width: 1150px) and  (max-width: 1199px) {
    
    .empty-block {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        background: var(--transparent-black);
    }
    
    .button-section {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        flex-direction: column;
    }

    .btn-project {
        margin: 1em 0 ;
    }

    .language-section {
        grid-row: 2 / 4;
        grid-column: 2 / 3; 
    }

    .tools-section {
        grid-row: 2 / 3;
        grid-column: 5 / 6;
    }

    .profile-section {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    .framework-section {
        grid-row: 3 / 4;
        grid-column: 4 / 6;
    }

    .preprocessor-section {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    .education-section {
        grid-row: 1 / 2 ;
        grid-column: 5 / 6;
    }

}

@media screen  and (min-width: 1200px) and  (max-width: 1249px) {

    .button-section {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        flex-direction: column;
    } 

    .btn-project {
        margin: 1em 0;
    }

    .language-section {
        grid-row: 2 / 3;
        grid-column: 4 / 6; 
    }

    .tools-section {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .profile-section {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .framework-section {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
    }

    .preprocessor-section {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }

    .education-section {
        grid-row: 3 / 5 ;
        grid-column: 4 / 6;
    }

}

@media screen  and (min-width: 1250px) and  (max-width: 1299px) {
       
    /*************** MAIN CONTENTS ***************/

    .empty-block {
        grid-column: 3 / 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 3em;
    }

    .button-section {
        grid-row: 2 / 3;
        grid-column: 3 / 5;
        flex-direction: row;
        writing-mode:initial;
        align-items: center;
        justify-content: space-between;
    } 

    .btn-project {
        margin: 0 1em;
    }

    .language-section {
        grid-row: 3 / 4;
        grid-column: 4 / 5; 
    }

    .tools-section {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }

    .profile-section {
        grid-row: 1 / 4;
        grid-column: 1 / 3;
    }

    .framework-section {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    .preprocessor-section {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

    .education-section {
        grid-row: 1 / 2 ;
        grid-column: 4 / 5;
    }

}

@media screen and (min-width: 1300px) and  (max-width: 1349px)  {

    /*************** MAIN CONTENTS ***************/

    .button-section {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
        flex-direction: column;
    } 

    .btn-project {
        margin: 1em 0;
    }

    .language-section {
        grid-row: 2 / 4;
        grid-column: 1 / 2; 
    }

    .tools-section {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
    }

    .profile-section {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .framework-section {
        grid-row: 2 / 3 ;
        grid-column: 4 / 5;
    }

    .preprocessor-section {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
    }

    .education-section {
        grid-row: 2 / 4;
        grid-column: 2 / 4;
    }
}

@media screen and (min-width: 1350px) {
   
    .main-container {
        grid-template-columns: repeat(6, .5fr );
    }
    
    .button-section {
        grid-row:4 / 5;
        grid-column: 1 / 7;
        flex-direction: row;
    } 

    .btn-project {
        margin: 1em;
    }

    .language-section {
        grid-row: 2 / 4;
        grid-column: 4 / 6;
    }

    .tools-section {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    .profile-section {
        grid-row: 1 / 2;
        grid-column: 2 / 6;
    }

    .framework-section {
        grid-row: 1 / 4;
        grid-column: 6 / 7; 
    }

    .preprocessor-section {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    .education-section {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }
}